.container{
    margin-top: 20px;
    margin-bottom: 60px;
  
}
.navbar-light .navbar-nav .active>.nav-link {
    color: rgba(0,0,0,.5);
}
 
.nav-link{ color: black;
    
   }
.nav-item{
    margin-left: 10px;
}

.w-100 {
    width: 50%!important;
}

img{vertical-align: middle;}

.btn {
    border: none;
    padding: 9px 12px;
  width: 100px;
  height: 40px;
   
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
    background-color: rgba(17, 179, 103, 0.884);
    margin-left: 20px;
    
}

.card{
    border: none;
     box-shadow: 5px 10px rgb(187, 178, 178) ;

}
.get-started{
    border: none;
    padding: 9px 10px;
  width: 150px;
  height: 42px;
   
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}
h1{
    font-weight: 600;
    
}

.w-50{
    width: auto;
    height: 100px;

}

.col-3{
    margin: 0 auto;
    height: 100px;
}

h5{
    margin-right: 10px;
    margin-top: 10px;
}

.card{
    border: none;
}

.categories img{
    width: 100px;
}
